$background-color: #DDDDDD;

body {
  background-color: $background-color;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
}